<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- Other settings may be present here -->
  </system.webServer>
  <!-- Add the connection string here -->
  <connectionStrings>
    <!-- HospitalDB conn -->
    <add name="conn" connectionString="Data Source=DESKTOP-ATAS2TB\SQLEXPRESS;Initial Catalog=PreClinic;User ID=sa;Password=123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>